@import '../SCSS/_includes.scss';

.container {
  width: 100%;
  min-height: 554px;
  display: flex;
  gap: 90px;
}

.leftBox {
  width: 50%;
  min-height: 500px;
  margin-left: 120px;
  margin-top: 100px;
}

.leftBox p:nth-child(1) {
  @include allPs20();
  margin-bottom: 5px;
}

.leftBox p:nth-child(2) {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  color: #fd5956;
  margin-bottom: 5px;
}
.leftBox p:nth-child(3) {
  @include p34();
}

.leftBox p:nth-child(4) {
  @include p34();
  margin-left: 45px;
}
.leftBox p:nth-child(4) span {
  color: #fd5956;
  // display: inline-block; /* Ensure the span stays inline */
}

.leftBox p:nth-child(5) {
  max-width: 535px;
  min-height: 96px;
  @include ps20();
  text-align: left;
  margin-top: 5px;
}

.rightBox {
  max-width: 553px;
  margin-top: 90px;
}
.rightBox img {
  width: 75%;
  min-height: 650px;
}

.icons {
  display: flex;
  gap: 30px;
  margin-top: 10px;
}

.cvHere {
  max-width: 188px;
  min-height: 52px;
  box-shadow: 0px 24px 48px 6px #fd595614;
  box-shadow: 0px 12px 24px 6px #fd595614;
  background: #fd5956;
  border: none;
  padding: 0px 25px;
  margin-top: 20px;
  @include allPs18();
  text-align: left;
  a{
    text-decoration: none;
    color: white;
  }
}

 

